<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/*-config.properties" />
	 <!-- 数据源配置 -->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="password" value="${jdbc.password}" />
        <property name="username" value="${jdbc.username}" />
        <property name="initialSize" value="${jdbc.initialsize}" />
        <property name="maxIdle" value="${jdbc.maxidle}" />
        <property name="maxActive" value="${jdbc.maxactive}" />
        <property name="logAbandoned" value="${jdbc.logabandoned}" />
        <property name="removeAbandoned" value="${jdbc.removeabandoned}" />
        <property name="removeAbandonedTimeout" value="${jdbc.removeabandonedtimeout}" />
        <property name="maxWait" value="${jdbc.maxwait}" />
        <property name="testWhileIdle" value="${jdbc.testWhileIdle}" />
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="${jdbc.validationquery}" />
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
        <property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit:true}" />
    </bean>
	
	<!-- mapper配置 -->
	<!-- 让spring管理sqlsessionfactory 使用mybatis和spring整合包中的 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 加载mybatis的全局配置文件 -->
		<property name="configLocation" value="classpath:conf/SqlMapConfig.xml" />
	</bean>
	

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 统一规范需要扫描的DAO接口的位置 -->
        <property name="basePackage" value="cn.jyc.demo.dao" />
        <!-- 多数据源情况下，需要配置该项 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="properties">
            <value>
                mappers=tk.mybatis.mapper.common.Mapper
            </value>
        </property>
    </bean>
    

</beans>
